html {
	font-size: 22px;
  text-shadow: none;
}

body {
	font-family: Arial, Calibri, Helvetica, sans-serif;
  max-width: 80%;
	margin: 25px auto;
  padding: 25px 50px;
}

section {
  margin-bottom: 20px;
}

li {
	margin-bottom: 5px;
}

span {
  font-weight: bold;
}

.section-title {
	border-bottom: 2px solid #000;
	margin-bottom: 15px;
	padding-bottom: 5px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}